.app {
    background-color: rgba(43, 144, 208, 0.1);
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.weather-btn {
    margin: 20px 0;
}

.weather-btn a {
    color: #FFF;
    font-weight: bold;
}