.disease-warning {
    background: #ff190c;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 1.4rem;
}

.disease-warning h5 {
    font-weight: bold;
}

.disease-warning ul {
    padding-left: 5px;
    font-size: 1.2rem;
}