.sensor-data {
    background: #eff9fb;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 1.4rem;
}

.sensor-data .row {
   margin-bottom: 7px;
}

.sensor-data .row .sensor-label {
   padding-top: 20px;
}

.sensor-data img {
    height: 70px;
    float: right;
}